.Phonetics {
  display: inline-flex;
}

.Phonetics figure {
  margin-inline-start: 10;
  min-width: 50vh;
}
.Phonetics audio {
  max-width: 50vh;
}
.Phonetics .phonetic-spelling {
  margin-top: 30px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #666;
}
@media (max-width: 700px) {
  .Phonetics {
    display: block;
  }
  .Phonetics figure {
    margin-inline-start: 0;
  }
  .Phonetics .phonetic-spelling {
    margin-left: 21px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
